In [7]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

In [13]:
#buatkolom
n_rows = 5

#buatbaris
n_cols = 5

#menentukan judul colom
#tuple() mengkonversi data menjadi string / angka
cols = tuple('ABCDE')

#membuat data frame dengan bilangan random integer dari angka 1 dan 10 yang diisi didalam kolom rows dan cols
df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                    columns=cols)
df

   A  B  C  D  E
0  1  1  7  2  2
1  5  1  5  1  9
2  8  5  8  3  8
3  3  3  4  9  9
4  9  8  5  9  8

In [14]:
tuple( 'ABCDE')

('A', 'B', 'C', 'D', 'E')

In [17]:
#menyertakan prefix yg bertipe sting pada awal judul kolom
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        1        1        7        2        2
1        5        1        5        1        9
2        8        5        8        3        8
3        3        3        4        9        9
4        9        8        5        9        8

In [18]:
#menyertakan sufix yg bertipe sting pada akhir judul kolom
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        1        1        7        2        2
1        5        1        5        1        9
2        8        5        8        3        8
3        3        3        4        9        9
4        9        8        5        9        8