In [15]:
import pandas as pd


print(pd.__version__)

1.3.4

In [16]:
df = pd.util.testing.makeMissingDataframe().reset_index()
#menampilkan 5 data pertama saja
df.head()

C:\Users\RedMarch\anaconda3\lib\site-packages\pandas\util\__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

        index         A         B         C         D
0  WSmv4aUSVI  0.490091 -1.325173 -0.598842  2.438774
1  agARmeMNjp  0.918870  0.508535  0.572641       NaN
2  HBQdw1noz0 -0.140855 -0.505537  0.359218 -0.264285
3  5BQktZSYHB       NaN -1.081598 -1.612353 -0.308562
4  L3hWUf83iL -1.123662 -0.573161  0.669838 -0.533291

In [19]:
df= df.rename(columns={'index' : 'Z'})
df.head()

            Z         A         B         C         D
0  WSmv4aUSVI  0.490091 -1.325173 -0.598842  2.438774
1  agARmeMNjp  0.918870  0.508535  0.572641       NaN
2  HBQdw1noz0 -0.140855 -0.505537  0.359218 -0.264285
3  5BQktZSYHB       NaN -1.081598 -1.612353 -0.308562
4  L3hWUf83iL -1.123662 -0.573161  0.669838 -0.533291

In [20]:
df_backup = df.copy(deep=True)

In [21]:
#menghapus nilai setiap missing value atau nan yang ada pada columns
df = df.dropna(axis='columns')
df.head()

            Z
0  WSmv4aUSVI
1  agARmeMNjp
2  HBQdw1noz0
3  5BQktZSYHB
4  L3hWUf83iL

In [22]:
#mamnggil file backup
df = df_backup.copy(deep = True)
#menghapus setiap baris yang mengandung missing value / nan
df = df.dropna(axis='rows')
df.head()

            Z         A         B         C         D
0  WSmv4aUSVI  0.490091 -1.325173 -0.598842  2.438774
2  HBQdw1noz0 -0.140855 -0.505537  0.359218 -0.264285
4  L3hWUf83iL -1.123662 -0.573161  0.669838 -0.533291
5  46cRWiXF0H -0.996234  0.368804 -0.753756  0.768367
7  mGKwUJ4PeL  0.632527  1.094546  1.024984  1.005475

In [23]:
#presentase missing value untuk tiap kolom
df = df_backup.copy(deep = True)
#fungsi isna () = untuk mengumpulkan setiap nilai missing value berdasrkan kolom
#fungsi mean () = untuk menhitung presentase nilai error pada missing value yang ada pd kolom
df.isna().mean()

Z    0.000000
A    0.100000
B    0.066667
C    0.166667
D    0.066667
dtype: float64

In [27]:
#mnghapus (drop) setiap kolom yang mengandung missing value berdasrkan thresold (AMBANG BATAS)
# 0.9 adalah value dari 90persen
#len(df) berguna untuk menghitung jumlah rows / baris pada datakita

treshold = len(df) * 0.9
df = df.dropna(thresh = treshold, axis='columns')
df.head()

            Z         A         B         D
0  WSmv4aUSVI  0.490091 -1.325173  2.438774
1  agARmeMNjp  0.918870  0.508535       NaN
2  HBQdw1noz0 -0.140855 -0.505537 -0.264285
3  5BQktZSYHB       NaN -1.081598 -0.308562
4  L3hWUf83iL -1.123662 -0.573161 -0.533291