In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

In [2]:
data = {'A':[15, 15, 18, np.nan, 12],   
        'B':[15, 15, 18, np.nan, 12]}
df = pd.DataFrame( data)
df

      A     B
0  15.0  15.0
1  15.0  15.0
2  18.0  18.0
3   NaN   NaN
4  12.0  12.0

In [3]:
# mengenal pandas series
#data frame iyalah sekumpulan data pada dataframe
df['A']

0    15.0
1    15.0
2    18.0
3     NaN
4    12.0
Name: A, dtype: float64

In [4]:
type(df['A'])

pandas.core.series.Series

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
#memeriksa kesamaan dengan operator ==
#note operator == tidak bisa membandungkan value dari nilai NAN atau missing value
df['A'] == df['B']

0     True
1     True
2     True
3    False
4     True
dtype: bool

In [7]:
#jika ingin membadingakn dta series lebih dianjurkan menggunakan fungsi equals()
df['A'].equals(df['B'])

True

In [8]:
#Memeriksa kesamaan antar dua data frame
#objeknya berbeda tapi kondisinya sama
df1 = df.copy(deep=True)
df.equals(df1)

True

In [9]:
df == df1

       A      B
0   True   True
1   True   True
2   True   True
3  False  False
4   True   True