In [1]:
import pandas as pd


print(pd.__version__)

1.3.4

In [9]:
#PERSIAPAN DATA FRAME
d =   {'kolom_satu' : [1, 2, 3, 4, 5],
      'kolom dua':  [10, 20, 30, 40, 50]}
df = pd.DataFrame(d)
df

   kolom_satu  kolom dua
0           1         10
1           2         20
2           3         30
3           4         40
4           5         50

In [10]:
#SELEKSI BARIS DENGAN QUERY()

#menampilkan data dengan syarat kolom_satu lebih besar dari 2
df.query('kolom_satu > 2')

   kolom_satu  kolom dua
2           3         30
3           4         40
4           5         50

In [13]:
#tidak direkomendasikan jika penamaan kolom menggunakan spasi namun
#jika data yang ingin ditampilkan pada kolom yang memiliki spasi maka hasrus dibngkus dengan tanda backtik atau (``)

df.query('`kolom dua` > 30')

   kolom_satu  kolom dua
3           4         40
4           5         50