In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

In [21]:
#buatkolom 5
n_rows = 5

#buatbaris 
n_cols = 5

#judul kolom
cols = tuple('ABCDE')

#membuat data frame dengan bilangan random integer dari angka 1 sampai 20 yang diisi didalam kolom rows dan cols
df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                    columns=cols)
df

    A   B   C   D   E
0   5   2   4   1  12
1  15  16   2   8   5
2  13  10  14   6  17
3  14  13  17   1   9
4   8   1   9  17   4

In [22]:
#AKSES NILAI VARIABLE PADA FUNGSI QUERY ()
#menampilkan data dengan jumlah pada nilai kolom a lebih besar dari 10
df.query('A > 10')

    A   B   C  D   E
1  15  16   2  8   5
2  13  10  14  6  17
3  14  13  17  1   9

In [23]:
#variable rerata menampung nilai mean atau rata-rata dari kolom A
rerata = df['A'].mean()
rerata

11.0

In [24]:
#untuk memanggil variable dalam fungsi query dalam pandas harus menyertakan simbol @
df.query('A > @rerata')

    A   B   C  D   E
1  15  16   2  8   5
2  13  10  14  6  17
3  14  13  17  1   9