In [8]:
import pandas as pd


print(pd.__version__)

1.3.4

In [9]:
#dalam statistik ada 2 tipe data dimana ada tipe datra odinal merupakan bagian dari tipe data kategori, dimana tipe data kategori dibagi menjadi 2 tipe data nomonal dan tipe data ordinal
#pembeda, tipe data nominal murni sifatnya sebagai label sedangkan ordinal memiliki tingkatan contoh (buruk, cukup, baik, sangat_baik)
#persiapan dataset
d =  {'pelanggan': ['11', '12', '13', '14'],
      'kepuasan': ['baik', 'cukup', 'buruk', 'cukup']}
df = pd.DataFrame(d)
df

  pelanggan kepuasan
0        11     baik
1        12    cukup
2        13    buruk
3        14    cukup

In [10]:
#tipe data ordinal pada pandas
#CategoricalDtype berfungsi untuk mengurutkan / menspesifikan nilai ordinal pada dataset
from pandas.api.types import CategoricalDtype
tingkat_kepuasan = CategoricalDtype(['buruk', 'cukup', 'baik', 'sangat baik'], ordered=True)

df['kepuasan'] = df['kepuasan'].astype(tingkat_kepuasan)
df

  pelanggan kepuasan
0        11     baik
1        12    cukup
2        13    buruk
3        14    cukup

In [12]:
#mengurutkan data
#ascending=True berfungsi mengurutkan data dari bilangan yang kecil ke besar

df = df.sort_values('kepuasan', ascending=True)
df

  pelanggan kepuasan
2        13    buruk
1        12    cukup
3        14    cukup
0        11     baik

In [13]:
#menampilkan data dengan variable parameter kepuasan lebih besar dari cukup
df[df['kepuasan'] > 'cukup']

  pelanggan kepuasan
0        11     baik