In [11]:
import pandas as pd

print(pd.__version__)

1.3.4

In [12]:
d = {'nama' : ['bejo', 'tejo', 'wati', 't iwi', 'cecep '],
     'ipk': [2, '3', 3, 2.75, '3.25' ]}
df = pd.DataFrame(d)
df

     nama   ipk
0    bejo     2
1    tejo     3
2    wati     3
3   t iwi  2.75
4  cecep   3.25

In [13]:
df.dtypes

nama    object
ipk     object
dtype: object

In [14]:
#deteksi penaganan kolom dengan tipe data beragam (mixed data types)
df['ipk'].apply(type)

0      <class 'int'>
1      <class 'str'>
2      <class 'int'>
3    <class 'float'>
4      <class 'str'>
Name: ipk, dtype: object

In [15]:
#hitung jumlah tipe data
df['ipk'].apply(type).value_counts()

<class 'int'>      2
<class 'str'>      2
<class 'float'>    1
Name: ipk, dtype: int64

In [16]:
#rubah tipe data pada kolom ipk menjadi tipe data numerik (float)
df['ipk'] = df['ipk'].astype(float)

In [17]:
df['ipk'].apply(type).value_counts()

<class 'float'>    5
Name: ipk, dtype: int64