In [13]:
import pandas as pd


print(pd.__version__)

1.3.4

In [14]:
data = {'nama': ['bayu', 'indra', 'devi', 'agni'],
        'jenis _kelamin ': ['L', 'L', 'P', 'L'],
        'usia': [23, 21, 22, 251]}
df = pd.DataFrame (data)
df

    nama jenis _kelamin   usia
0   bayu               L    23
1  indra               L    21
2   devi               P    22
3   agni               L   251

In [15]:
#menyimpan data sebagai CSV
#secara devault method to_csv akan menyertakan index pada data cvs yang di export
#code dibawah membuat data csv dari data frame
df.to_csv('./dataset/data_peserta.csv')

In [16]:
#PENDEKATAN PERTAMA
#unnamed adalah kolom yang tidak mempunyai judul kolom
#df = pd.read_csv('./dataset/data_peserta.csv')

#membacara file csv dengan index col 0 diset sebagai index awal
df = pd.read_csv('./dataset/data_peserta.csv', index_col=0)
df

    nama jenis _kelamin   usia
0   bayu               L    23
1  indra               L    21
2   devi               P    22
3   agni               L   251

In [18]:
#PENDEKATAN KEDUA
#menyimpan file csv dengan tidak menyertakan index

df.to_csv('./dataset/data_peserta2.csv', index=False)
df2 = pd.read_csv('./dataset/data_peserta2.csv')
df2

    nama jenis _kelamin   usia
0   bayu               L    23
1  indra               L    21
2   devi               P    22
3   agni               L   251