In [6]:
import pandas as pd
import numpy as np


print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

In [7]:
#buatbaris 
n_rows = 10
#buatkolom
n_cols = 5
#menentukan judul colom
cols = tuple('ABCDE')

#membuat data frame dengan bilangan random integer dari angka 1 sampai 10 yang diisi didalam kolom rows dan cols
df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                    columns=cols)
df

   A  B  C  D  E
0  8  5  1  3  5
1  7  5  5  7  4
2  5  5  1  8  5
3  2  3  3  6  6
4  8  5  7  5  3
5  8  4  3  9  7
6  6  2  6  4  1
7  7  7  3  1  5
8  1  9  9  6  2
9  7  7  3  3  8

In [10]:
#menghitung jumlah baris menurut kriteria tertentu
#jika nilai pada kolom A lebih kecil dari 5 maka akan di total
(df['A'] < 5).sum()

2

In [11]:
#jika nilai pada kolom A lebih kecil dari 5 maka akan di hitung jumlah rata"nya
(df['A'] < 5).mean()

0.2